<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">

    <title>Nothing</title>
</head>

<body>

    {{>navbar}}
    {{!-- hero section starts --}}
    <div class="container-fluid mt-5" id="homeid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div
                        class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex flex-column justify-content-center align-items-start">
                        <h1>WE WILL HELP YOU</h1>
                        <h1>GROW YOUR BUSINESS</h1>
                        <p>We are Team of <span class="bold-style"> Professional Developers</span></p>
                        <button class="btn-style btn btn-primary">Read More</button>
                    </div>
                    <div class="col-md-6 col-12 hero-text order-md-1 order-0 ">
                        <figure class="d-flex flex-column justify-content-center align-item-center my-0">
                            <img src="images/hero.gif" alt="hero image">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!-- hero section ends --}}

    {{!-- about section starts --}}
    {{>about}}
    {{!-- about section ends --}}
    
    {{!-- services section starts --}}
    {{>services}}
    {{!-- services section ends --}}

    {{!-- maps section starts --}}
    {{>maps}}
    {{!-- maps section ends --}}

    {{!-- contacts section starts --}}
    {{>contacts}}
    {{!-- contacts section ends --}}



    <script src="..jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
</body>

</html>