<div class="container-fluid mt-0 " id="aboutid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto about-style" id="aboutid">
                <h1 class="text-center main-heading">About</h1>
                <p class="text-center sub-heading">grow your business with us</p>

                <div class="row">
                    <div class="col-md-6 col-12 hero-text ">
                        <figure class="d-flex flex-column justify-content-center align-item-center my-0 ">
                            <img src="images/about.gif" alt="hero image">
                        </figure>
                    </div>

                    <div
                        class="col-md-6 col-12 hero-text  d-flex flex-column justify-content-center align-items-end">
                        <h1 class="about-heading">WE ARE THE</h1>
                        <h1 class="about-heading">PROFESSIONAL DEVELOPERS..</h1>
                        <p>Welcome to  <span class="bold-style"> Nothing </span>
                            Your Number One Source For All Things. We're 
                            Dedicated To Giving You The Very Best Of Work. With A Focus On [Three 
                            Characteristics, le: Dependability. Customer Service And Uniqueness.!</p>
                        <button class="btn-style btn btn-primary">Read More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
