<div class="container-fluid mt-0 " id="servicesid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto about-style" id="aboutid">
            <h1 class="text-center main-heading">Our Services</h1>
             <p class="text-center sub-heading">grow your business with us</p>
                <div class="row">

                    <div class="col-md-4 ">
                        <div class="box our-services settings ">
                            <div class="icon">
                                <img src="images/settings.png" alt="Services photo" >
                            </div>
                                <h4>Settings</h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint eaque voluptatibus, placeat pariatur numquam, </p>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="box our-services speedup ">
                            <div class="icon">
                                <img src="images/settings.png" alt="Services photo" >
                            </div>
                                <h4>Settings</h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint eaque voluptatibus, placeat pariatur numquam, </p>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="box our-services privacy">
                            <div class="icon">
                                <img src="images/settings.png" alt="Services photo" >
                            </div>
                                <h4>Settings</h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint eaque voluptatibus, placeat pariatur numquam, </p>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="box our-services backups">
                            <div class="icon">
                                <img src="images/settings.png" alt="Services photo" >
                            </div>
                                <h4>Settings</h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint eaque voluptatibus, placeat pariatur numquam, </p>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="box our-services ssl">
                            <div class="icon">
                                <img src="images/settings.png" alt="Services photo" >
                            </div>
                                <h4>Settings</h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint eaque voluptatibus, placeat pariatur numquam, </p>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="box our-services database">
                            <div class="icon">
                                <img src="images/settings.png" alt="Services photo" >
                            </div>
                                <h4>Settings</h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint eaque voluptatibus, placeat pariatur numquam, </p>
                        </div>
                    </div>

                </div>
        </div>
    </div>
</div>